.login{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
}